<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">


<div class="header">
  <div class="container">
    <div class="header__wrap">
  <h1 class="header__logo">MARKBOT</h1>
  <div class="search">
    <button class="search__button"><i class="fas fa-search"></i>

    </button>
    <input class="search__input" type="text" autocomplete="off" placeholder="search">
  </div>
  <ul class="nav">
    <li class="nav__item"><a href="">Explore</a></li>
    <li class="nav__item"><a href="">Education</a></li>
    <li class="nav__item"><a href="">contact</a></li>
  </ul>
    </div>
</div>
</div>

<div class="hero">

  <div class="container">
    <div class="hero__wrap">

  <figure class="hero__image">

<img  class="hero__img" src="/assets/IMG_7599.jpg" alt="">
  </figure>
  <div class="hero__body">
    <h2 class="hero__title">自己紹介</h2>
    <p class="hero__description">Lorem ipsum dolor sit amet consectetur adipisicing <br>
      elit. Iusto unde, aut ipsum cumque deleniti rem praesentium aperiam veniam, a suscipit dicta<br>
      repellat vero minima ipsa, esse consequatur ex quidem aspernatur.</p>
      <div class="hero__actions">
      </div>
</div>
</div>
</div>
</div>

<div class="container">

<div class="filter-bar">
<div class="filter" [class.filter--active]="filterStatus">
  <button class="filter__button" (click)="filterStatus = !filterStatus">勉強したSKILL(クリックしてください)</button>
  <div class="filter__dropdown">
    <ul >
      <li class="filter-li">HTML/CSS</li>
      <li class="filter-li">Javascript</li>
      <li class="filter-li">Angular</li>
      <li class="filter-li">Vue.js</li>
      <li class="filter-li">Firebase</li>
      <li class="filter-li"> Wordpress</li>
    </ul>
  </div>
</div>

</div>

<div class="grid">

<div class="card">
  <div class="card__cover">

  </div>
  <!--ここに画像を入れます-->
  <div class="card__body">
    <div class="card__avatar"></div>
    <div class="card__content">
      <p class="card__title">題名:テトリス</p>
      <p class="card__date">技術:HTML/CSS/Javascript</p>
      <p class="card__date"><a href="https://kawaitoi.github.io/Tetris-js/">github</a></p>
    </div>
  </div>
</div>
<!--class="card"-->

<div class="card">
  <div class="card__cover-second"></div>
  <!--ここに画像を入れます-->
  <div class="card__body">
    <div class="card__avatar"></div>
    <div class="card__content">
      <p class="card__title">題名:クイズゲーム</p>
      <p class="card__date">技術:HTML/CSS/Javascript/<br>Bootstrap</p>
      <p class="card__date"><a href="https://kawaitoi.github.io/quiz-game-js/">github</a></p>
    </div>
  </div>
</div>
<!--class="card"-->

<div class="card">
  <div class="card__cover-third"></div>
  <!--ここに画像を入れます-->
  <div class="card__body">
    <div class="card__avatar"></div>
    <div class="card__content">
      <p class="card__title">題名:ペライチ旅行サイト</p>
      <p class="card__date">HTML/CSS</p>
      <p class="card__date"><a href="https://kawaitoi.github.io/markup-lp/">github</a></p>
    </div>
  </div>
</div>
<!--class="card"-->

<div class="card">
  <div class="card__cover-for"></div>
  <!--ここに画像を入れます-->
  <div class="card__body">
    <div class="card__avatar"></div>
    <div class="card__content">
      <p class="card__title">hogehoge</p>
      <p class="card__date">2020.8.25</p>
    </div>
  </div>
</div>
<!--class="card"-->

<div class="card">
  <div class="card__cover"></div>
  <!--ここに画像を入れます-->
  <div class="card__body">
    <div class="card__avatar"></div>
    <div class="card__content">
      <p class="card__title">hogehoge</p>
      <p class="card__date">2020.8.25</p>
    </div>
  </div>
</div>
<!--class="card"-->

<div class="card">
  <div class="card__cover"></div>
  <!--ここに画像を入れます-->
  <div class="card__body">
    <div class="card__avatar"></div>
    <div class="card__content">
      <p class="card__title">hogehoge</p>
      <p class="card__date">2020.8.25</p>
    </div>
  </div>
</div>
<!--class="card"-->

</div>



<router-outlet></router-outlet>
