.filter-bar{
display: grid;
gap: 24;
grid-template-columns: repeat(3,1fr);
}

.filter{
  &__button{
    padding: 8px;
  background: white;
  appearance: none;
  border: 1px solid gray;
  position: relative;
&:after{
content: url(https://www.thingiverse.com/assets/dropdown_arrow_gray.svg)  ;
position: absolute;
top: 0;
right: 0;
transition: 0.3s;
.filter--active &{
transform: rotate(180deg);
}
}
  }
  &__dropdown{
display: none;
.filter--active & {
  display: block;
}
  }
}
